@font-face {
	font-family: Roboto;
	src: url("../font/Roboto-Light.ttf");
}

* {
	outline: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

body {
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
	background-attachment: fixed;

	
}

#main {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	
}

#main img, 
#main object {
	width:  30px;
	height: 30px;
}


#main button {
	background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
	border: 1px solid #cbcbcb;
	border-radius: 20px;
	height: 75px;
	margin: 2px 25px;
	width: 198px;
	display: block;
	position: relative;
	line-height: 100%;
	font-family: "Roboto";
	font-size: 18px;
	text-shadow:1px 1px 0px #ffffff;
	color: #444444;
	float: left;
}

#main button.broken {
	background: #999999;
}

#main button object {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
}


#main button:active,
#main button.pressed {
	 box-shadow: inset 2px 2px 11px 0px rgba(0, 0, 0, 0.75);	
}

#main button div.extra {
	color: #888888;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
}

#main.error {
	width:  350px;
	height: 150px;
}

#icon {
	border: 1px solid;
	height: 80px;
	left: 10px;
	position: absolute;
	top: 29px;
	width: 80px;

}

#text {
	border: 1px solid #ff0000;
	height: 80px;
	left: 107px;
	position: absolute;
	top: 29px;
	width: 230px;
}
