{
	"TOGGLER": true,
	"http": 8888,
	"sshd": {
		"check":"SCRIPTSDIR/systemd_service_state.php sshd",
		"states": {
			"active": {
				"color":"green",
				"text":"SSH Running",
				"cmd":"sudo systemctl stop sshd"
			},
			"inactive": {
				"color":"red",
				"text":"SSH Stopped",
				"cmd":"sudo systemctl start sshd"
			},
			"noservice": {
				"color":"orange",
				"text":"No SSH Service"
			}
		}
	},
    "sleepone": {
        "check": "TESTDIR/switch.php check one",
		"delay": 5000,
        "states": {
            "off": {
                "color": "red",
                "text": "One Offline",
				"cmd": "TESTDIR/switch.php toggle one on"
            },
            "on": {
                "color": "green",
                "text": "One Online",
				"cmd": "TESTDIR/switch.php toggle one off",
				"timer": true
            }
        }
    },
    "sleeptwo": {
        "check": "TESTDIR/switch.php check two",
		"delay": 5000,
        "states": {
            "off": {
                "color": "red",
                "text": "Two Offline",
				"cmd": "TESTDIR/switch.php toggle two on"
            },
            "on": {
                "color": "green",
                "text": "Two Online",
				"cmd": "TESTDIR/switch.php toggle two off"
            }
        }
    },

    "sleepthree": {
        "check": "TESTDIR/switch.php check three",
		"delay": 5000,
        "states": {
            "off": {
                "color": "red",
                "text": "Three Offline",
				"cmd": "TESTDIR/switch.php toggle three on"
            },
            "on": {
                "color": "green",
                "text": "Three Online",
				"cmd": "TESTDIR/switch.php toggle three off",
				"timer": true
            }
        }
    },
    "sleepfour": {
        "check": "TESTDIR/switch.php check four",
		"delay": 5000,
        "states": {
            "off": {
                "color": "red",
                "text": "Three Offline",
				"cmd": "TESTDIR/switch.php toggle four on"
            },
            "on": {
                "color": "green",
                "text": "Three Online",
				"cmd": "TESTDIR/switch.php toggle four off"
            }
        }
    },
	"unknown": {
		"check": "echo 1",
		"delay": 500,
		"states": {
			"notpoop": {
				"color": "green",
				"text": "This will never be seen",
				"cmd": "echo 0"
			}
		}
	},
    "plaything": {
        "name": "Bark",
        "do": "cvlc --play-and-exit --no-loop TESTDIR/bark.ogg"
    }
}
